body{
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #EEE;
}

header{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  right: 0px;
  left: 0px;
  height: 10%;
  z-index: 99;
}

#nav-bar{
  width: 100%;
  height: 50px;
  background-color: white;
}

#header-img {
  float: left;
  margin-left: 10vmax;
  width: 120px;
  height: 50px;
}

ul {
  display:flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float:right;
  padding-left: 0px;
}

li {
  float: right;
}


li a:hover:not(.active) {
  background-color: #969696;
  color: white;
}

.active {
  background-color: #253D5B;
  color: white;
}

li a {
  display: block;
  --color: white;
  color: black;
  text-align: center;
  padding: 16px 3.5vmax;
  text-decoration: none;
  border-radius: 20px;
}




<!-- --------------------------------------- -->
<!-- --------------CONTENT------------------ -->
<!-- --------------------------------------- -->

h1{
  font-family: 'Playfair Display', serif;
  margin: 0px;
  padding: 25px;
}

#content{
  width: 75%;
  margin: auto;
  margin-top: 100px;
}

#video{
  margin: 25px auto 25px auto;
  z-index: 98;
  position: relative;
}

input, select, textarea{
  margin-bottom: 2%;
  padding: 5px;
  --float: right;
}

@media screen and (max-width:625px){
    #header-img {
      margin-left: 10vmin;
    }

}
